{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Applicant Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
 <p>Hello</p>
 
  {% for key,value in fields.items %}

    <p>{{key}} -- {{value}}</p>
    {% endfor %}

    <a href="{% url 'edit-profile' %}"><button type="button" class="btn btn-info shadow-lg float-right">Update Profile</button></a>

    <a href="{% url 'upload-resume' %}"><button type="button" class="btn btn-info shadow-lg float-right">Upload Resume</button></a>

</body>
</html>

