{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Applicant Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <style>
    h2 {
      font-family: "Roboto", sans-serif;
      font-size: 26px;
      line-height: 1;
      color: #454cad;
      margin-bottom: 0;
    }
    p {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      color: #5f6982;
    }
    html,body,* { box-sizing: border-box; font-size: 16px;}
html,body   { height: 100%; text-align: center;}

.navbar-custom {
  background-color: #2f4353;
  background-image: linear-gradient(315deg, #d2ccc4  0%, #2f4353 74%);
}
  </style>
</head>
<body>
  <nav class="navbar navbar-custom">
    <ul class="navbar-nav ml-auto">
      <a class="navbar-brand" href="#" style="color:white;">
      PROFILE
    </a></ul>
  <a class="navbar-brand" href="#" style="color:white;">
    DASHBOARD
  </a>
  <a class="navbar-brand" href="#" style="color:white;">
    UPDATE PROFILE
  </a>
  </nav>
  <br><br>
  <h2>Resume File Upload </h2>
  <p class="lead">Please Upload <b>Your Video Interview</b></p>

  <div class="upload-box" style="background-color:lightgrey;width:450px;padding:25px;margin-left:32%;margin-top:50px;">
    <form method="POST" enctype="multipart/form-data">
    <!-- <input type="file" id="myFile" name="filename"> -->
    <img src="{% static 'download.png' %}" class="image" alt="" style="width:100px;height:100px"/>
    {% csrf_token %}
    <fieldset>
      {% comment %} {{ form.as_p }} {% endcomment %}
      {% for field in form %}
        <div class="choosefile" style="margin-top:20px;margin-left:80px">{{ field }}<div>
      {% endfor %}
    </fieldset>
    <br>
    <div class="btn-block">
      <button type="submit" href="{% url 'upload-avi' %}" style="border-radius:.2rem;background:#454cad;display: inline-block;margin: .5rem .5rem 1rem .5rem;clear: both;font-weight: 700;font-size: 14px;text-decoration: none;text-transform: initial;border: none;outline: none;padding: 0 1rem;height: 36px;line-height: 36px;color: #fff;transition: all 0.2s ease-in-out;box-sizing: border-box;border-color: #454cad;cursor: pointer;">Upload Video</button>
    </div>
  </form>
</div>
</body>
</html>